.wrapper {
		margin-top: 100px;
		padding: 2rem

}

.header {
	display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
	width: 100% ;
	height: 100%;
	background-color: white; 
	padding: '1rem'; 
	justify-content: center;
	align-items: center;
	display: flex;
}
.task-container {
  display: flex;
    flex-wrap: wrap;
    padding: 0% 0% 0% 5%;

}
.task-input {
	 display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.task-card {
	  border: 1px solid whitesmoke;
    box-shadow: 0px 0.233px 8px lightgray;
    padding: 1rem;
    border-radius: 10px;
    width: 18%;
    margin: 1rem 1.5rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.task-status {
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.description {
    margin: 0rem 0 1rem 0;
    /* font-size: 1.2rem;
    font-weight: 500; */
}

.task-footer {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}